/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-middle-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-grey: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-light-blue: #81B3D2;
  --basic-middle-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-extra-dark: #333333;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Screen */

.main-screen {
  margin: 0 auto;
  height: 509px;
  background-image: url("../img/First_Screen_Sedona.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Main Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  font-weight: 700;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* Site Navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 30%;
}

/* Features */

 .features-list {
  list-style: none;
}

.feature-item-img,
.feature-with-icon,
.feature-no-icon,
.search-info,
.features p {
  text-align: center;
}

.feature-item-img h2,
.feature-with-icon h2,
.feature-no-icon h2,
.features .h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item-img {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.feature-no-icon {
  background-color: var(--basic-grey);
}

/* Form */

.search .heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.info-item label {
  font-weight: 700;
}

.info-item input {
  font: inherit;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

/* Main Footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 90%;
}

.footer-contacts .footer-hashtag,
.footer-contacts .footer-phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright a {
  /*width: 115px;
  height: 41px;*/
  background-repeat: no-repeat;
  /*background-image: url("../img/logo-htmlacademy-footer.svg");
  background-position: 0 0;
  position: relative;*/
}

.footer-copyright a:hover {
  /*width: 115px;
  height: 41px;*/
  background-image: url("../img/logo-htmlacademy-footer-hover.svg");
  background-position: 0 0;
  /*position: relative;*/
  background-repeat: no-repeat;
}

/* Catalog Page */

.parameters {
  outline: 1px solid #ff0000;
  background-image: url("../img/Blur.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--basic-black);
}

.parameters ul,
.search-results ul {
  list-style: none;
}

.sorting {
  font-weight: 600;
}

.sorting,
.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.sort-types .current {
  color: var(--basic-light-blue);
  text-decoration: none;
}

.sort-types a {
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: underline;
}

.sort-types a:hover {
  color: var(--basic-light-blue);
  text-decoration: underline;
  opacity: 100%;
}

.sort-types a:focus {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 100%;
}

.infrastructure legend,
.housing-type legend,
.price legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.parameters label {
  color: var(--basic-white);
}

.more,
.book-in {
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  padding: 3px 17px;
}

.more {
  background-color: var(--basic-light-blue);
}

.book-in {
  background-color: var(--basic-brown);
}

.more:hover {
  background-color: var(--basic-middle-blue);
}

.more:focus {
  background-color: var(--basic-dark-blue);
}

.book-in:hover {
  background-color: var(--basic-middle-brown);
}

.book-in:focus {
  background-color: var(--basic-dark-brown);
}

.variant-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.variant-name:hover {
  color: var(--basic-light-blue);
}

.variant-name:focus {
  color: var(--basic-black);
  opacity: 30%;
}
