/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-middle-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-grey: #eeeeee;
  --basic-light-grey: #f2f2f2;
  --basic-light-blue: #81B3D2;
  --basic-middle-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-extra-dark: #333333;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main Header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  display: grid;
}

/* Main Navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.site-navigation {
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
  font-weight: 700;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Logo */

.main-header-logo {
  justify-self: center;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/* Main Screen */

.main-screen {
  height: 509px;
  background-image: url("../img/First_Screen_Sedona.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0 auto 42px auto;
  text-align: center;
}

.main-screen img {
  margin-top: 77px;
}

/* Site Navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-light-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 30%;
}

/* Features */

.features {
  outline: 0px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 58px;
}

.features-heading {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 44px;
  text-align: center;
}

.features-compare {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  text-align: center;
  line-height: 26px;
  margin-bottom: 51px;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.feature-item-img {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  height: 256px;
  grid-column: 1 / -1;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.item-img-right {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.item-img-left {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.left-descript-img {
  padding-top: 50px;
}

.feature-item-img h2,
.feature-with-icon h2,
.feature-no-icon h2,
.feature-number,
.feature-descript {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  text-align: center;
  margin: 0;
  padding: 0;
}

.feature-item-img h2,
.feature-with-icon h2,
.feature-no-icon h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.feature-with-icon h2 {
  margin-top: 30px;
  margin-bottom: 25px;
}

.feature-number,
.feature-descript {
  font-size: 14px;
  line-height: 21px;
}

.feature-number {
  margin-top: 25px;
  margin-bottom: 23px;
}

.feature-with-icon {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  text-align: center;
  padding-top: 58px;
  padding-bottom: 82px;
}

.feature-no-icon {
  outline: 0px solid rgba(0, 255, 255 , 0.3);
  background-color: var(--basic-grey);
  padding-top: 47px;
  padding-bottom: 54px;
}

/* Form */

.search div {
  width: 568px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin: 0 auto;
  padding: 30px 0;
}

.form-search {
  outline: 2px solid rgba(0, 255, 255, 0.7);
  margin: 0 auto;
  background-color: var(--basic-white);
  padding: 55px;
  width: 458px;
}

.search-heading {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.search h2 {
  margin: 0;
}

.search-heading,
.search h2,
.search-info {
  outline: 0px solid rgba(0, 255, 255, 0.7);
  text-align: center;
}

.search-info {
  margin-top: 33px;
  margin-bottom: 41px;
}

.info-item {
  margin: 0;
}

.info-item label {
  font-weight: 700;
}

.info-item input {
  font: inherit;
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: none;
  width: 334px;
  height: 38px;
}

.check-in,
.check-out {
  padding-left: 12px;
}

.check-in {
  margin-left: 24px;
}

.check-out {
  margin-left: 20px;
}

.info-item input.info-item-adults,
.info-item input.info-item-kids {
  width: 114px;
}

.info-item-adults {
  margin-left: 40px;
}

.info-item-kids {
  margin-left: 26px;
}

.info-item-date {
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit-button {
  width: 458px;
  height: 58px;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

/* Main Footer */

.main-footer {
  outline: 2px solid rgba(0, 255, 255, 0.7);
  outline-offset: -2px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 90%;
  padding-top: 23px;
  padding-bottom: 36px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  outline: 2px solid rgba(0, 255, 255, 0.7);
  outline-offset: -2px;
  text-align: center;
}

.footer-hashtag,
.footer-phone {
  outline: 0px solid rgba(255, 0, 0, 0.7);
  outline-offset: -1px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}
.footer-hashtag {
  margin-bottom: 9px;
}

.footer-social ul {
  outline: 0px solid rgba(255, 0, 0, 0.7);
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-copyright {
  padding-top: 15px;
  margin: 0;
}

.footer-copyright a {
  outline: 0px solid rgba(255, 0, 0, 0.7);
  outline-offset: -1px;
  margin-left: 8px;
  width: 115px;
  height: 41px;
  /*background-repeat: no-repeat;
  background-image: url("../img/logo-htmlacademy-footer.svg");
  background-position: 0 0;
  position: relative;*/
}

/*
.footer-copyright a:hover {
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy-footer-hover.svg");
  background-position: 0 0;
  /*position: relative;
  background-repeat: no-repeat;
}
*/

/* Catalog Page */

.parameters {
  outline: 1px solid #ff0000;
  background-image: url("../img/Blur.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: var(--basic-black);
}

.parameters ul,
.search-results ul {
  list-style: none;
}

.sorting {
  font-weight: 600;
}

.sorting,
.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.sort-types .current {
  color: var(--basic-light-blue);
  text-decoration: none;
}

.sort-types a {
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: underline;
}

.sort-types a:hover {
  color: var(--basic-light-blue);
  text-decoration: underline;
  opacity: 100%;
}

.sort-types a:focus {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 100%;
}

.infrastructure legend,
.housing-type legend,
.price legend {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.parameters label {
  color: var(--basic-white);
}

.more,
.book-in {
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
  padding: 3px 17px;
}

.more {
  background-color: var(--basic-light-blue);
}

.book-in {
  background-color: var(--basic-brown);
}

.more:hover {
  background-color: var(--basic-middle-blue);
}

.more:focus {
  background-color: var(--basic-dark-blue);
}

.book-in:hover {
  background-color: var(--basic-middle-brown);
}

.book-in:focus {
  background-color: var(--basic-dark-brown);
}

.variant-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.variant-name:hover {
  color: var(--basic-light-blue);
}

.variant-name:focus {
  color: var(--basic-black);
  opacity: 30%;
}
